/* description section styles */
.desc-title {
  font-size: 1.8rem;
  line-height: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--black-1);
}
.desc-info {
  font-size: 1.6rem;
  line-height: 1.8em;
  text-align: center;
  color: var(--black-1);
}
@media only screen and (min-width: 768px) {
  .desc-title {
    font-size: 3.6rem;
    line-height: 1.4em;
    margin-bottom: 2rem;
  }
  .desc-info {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
