/* hero section styles*/
.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* left-col in down and right-col in up for mobile ↓ */
  flex-direction: column-reverse;
  gap: 4rem;
}
.hero-left {
  max-width: 350px;
}
.hero-right {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
}
.hero-heading {
  font-weight: 600;
  text-transform: uppercase;
  /* use em instead of rem for line-height ↓ , the em depends on the element font size */
  line-height: 1.6em;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: var(--black-1);
}
.hero-info {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: var(--black-2);
  line-height: 1.5em;
}
.hero-imgWrapper img {
  border-radius: 12px;
}
.button-wrapper {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero-wrapper {
    flex-direction: row;
    gap: 1.5rem;
  }
  /* .hero-left {
    flex: 4;
  }
  .hero-right {
    flex: 4;
  } */
  .hero-right {
    margin-right: 40px;
  }
  .hero-heading {
    font-size: 3.6rem;
    margin-bottom: 2.5rem;
    text-align: left;
  }
  .hero-info {
    margin-bottom: 3rem;
    text-align: left;
    font-size: 2rem;
    line-height: 1.5em;
  }
  .button-wrapper {
    text-align: left;
  }
  .hero-imgWrapper {
    max-width: none;
    text-align: right;
    /* width: 90%; */
  }
  #hero {
    padding-bottom: 90px;
  }
}
/* @media only screen and (max-width: 900px) {
  .hero__left,
  .hero__right {
    flex: 1;
  }
} */

/* testimonial section styles */
.testimonial-title {
  font-size: 1.8rem;
  color: var(--black-1);
  margin-bottom: 2.5rem;
  text-align: center;
}
.testimonial-quote {
  color: var(--black-2);
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}
.testimonial-user-wrapper {
  display: flex;
  flex-direction: column;
}
.testimonial-user-icon {
  display: block;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.testimonial-user-name {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.testimonial-user-position {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  .testimonial-title {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  .testimonial-quote {
    font-size: 2.3rem;
    margin-bottom: 4rem;
  }
  .testimonial-user-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .testimonial-user-name {
    font-size: 2.4rem;
  }
  .testimonial-user-position {
    font-size: 1.7rem;
  }
}
